@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1492px;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
/* ------header section starts here---- */
.banner-container {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/banner.png");
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  /* background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay; */
}
.banner-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.banner-text-container h5,
.banner-text-container h1 {
  color: white;
}
.banner-text-container h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-text-container h5 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

/* ------header section ends here---- */
/* ------offer section starts here---- */
.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}

.offer-image {
  width: 802px;
  height: 500px;
}
.offer-image img {
  width: 100%;
  height: 100%;
}

.offer-description h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
}
.offer-description p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 48px;
}
.offer-description h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 48px;
}
/* ------offer section ends here---- */
/* ------welcome section starts here---- */
.welcome-image img {
  width: 349px;
  height: 464px;
}
.welcome {
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/celebration.png");
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin: 0 auto 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-description h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
}
.welcome-description p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding-right: 39px;
  opacity: 80%;
}
.welcome-description a {
  text-decoration: none;
  color: white;
}

/* ------welcome section ends here---- */
/* ------venue section starts here---- */
.venue {
  width: 1320px;
  height: 482px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 120px auto;
  border-radius: 10px 10px 0 0;
}
.venue-description span {
  color: #ff0000;
}
.venue-description p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.btn button {
  border-radius: 8px;

  background-color: rgb(255, 0, 0);
  padding: 16px 32px 16px 32px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.btn {
  text-align: center;
  padding-top: 48px;
}
/* ------venue section ends here---- */
/* ------coming section starts here---- */
.coming {
  width: 1320px;
  height: 463px;
  margin: 0 auto 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-description h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
}
.coming-description h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.coming-description p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 80%;
}

.coming-image {
  width: 463px;
  height: 463px;

  border: 15px solid rgb(255, 0, 0);
  border-radius: 100%;
  text-align: center;
  background-image: url("../images/family.png");
  background-position: center;
  background-size: 380px 380px;
  background-repeat: no-repeat;
  margin: 50px;
}
.coming-year h2 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
}
.coming-year p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 43px;
}

/* ------coming section ends here---- */
/* ------sale section starts here---- */
.sale {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 1320px;
  height: 800px;
  margin: 0 auto 120px auto;
  position: relative;
}
.sale-description {
  text-align: center;
}
.sale-image {
  position: absolute;
  top: 100%;
}
.sale-image .fireworks {
  position: absolute;
  bottom: 120%;
  width: 350px;
  height: 350px;
}
.discount {
  position: absolute;
  left: 70%;
  bottom: 100%;
}
.sale-description span {
  color: #ff0000;
}
.sale-description h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
}
.sale-description h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}
.sale-description p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 60%;
  padding-left: 126px;
  padding-right: 126px;
}

/* ------sale section ends here---- */
/* ------portfolio section starts here---- */
.portfolio {
  padding-top: 200px;
  width: 1320px;
  height: 1163px;
  margin: 0 auto 120px auto;
}
.portfolio h5 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.portfolio h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 48px;
}
.images img {
  width: 424px;
  height: 450px;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
/* ------portfolio section ends here---- */
